.col-lg-3{
    padding: 20px;
    margin: 0 !important;
}
.productos__imagen{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.productos__galeria--informacion{
    background-color: #ffdbc0;
    height: 110px;
    border-bottom-left-radius : 15px;
    border-bottom-right-radius : 15px;
    .productos__galeria--titulo{
        padding-left: 10px;
        color: #c97e7f;
    }
    .productos__galeria--descripcion{
        padding-left: 10px;
        color: #c97e7f;
    }
}